form(method="post", action="/updateactionPagem")
	input(type="text",name="name",value=allrecord.name)
	input(type="text",name="password",value=allrecord.password)
	input(type="text",name="age",value=allrecord.age)
	input(type="hidden",name="x4",value=allrecord._id)
	input(type="Submit")