form(method="post", action="/updateactionPage")
	input(type="text",name="x1",value=dbRecord.name)
	input(type="text",name="x2",value=dbRecord.password)
	input(type="text",name="x3",value=dbRecord.age)
	input(type="hidden",name="x4",value=dbRecord.id)
	input(type="Submit")