<form method="post" action="/actionPage">
	Username:<input type="text" name="x1"><br><br>
	Userpass:<input type="text" name="x2"><br><br>
	Userage<input type="text" name="x3"><br><br>
	<input type="Submit"/>

</form>