form(method="post", action="/actionPage1",enctype="multipart/form-data")
	input(type="text",name="x1")
	input(type="text",name="x2")
	input(type="file",name="x3")
	input(type="Submit")


form(method="post", action="/actionPage2")
	input(type="text",name="name")
	input(type="text",name="password")
	input(type="text",name="age")
	input(type="Submit")